%div{class: "user_profile"}
  %div{class: "user_profile_image"}
    = attachment_image_tag @user.profile_image

  %div{class: "user_profile_name"}

  %div{class: "user_profile_email"}

  %div{class: "user_profile_edit_btn"}
